@font-face {
    font-family: 'Helvetica';
    src: url('../fonts/Helvetica/ Helvetica-Bold.woff2') format('woff2'),
        url('../fonts/Helvetica/Helvetica-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica';
    src: url('../fonts/Helvetica/Helvetica.woff2') format('woff2'),
        url('../fonts/Helvetica/Helvetica.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

/* header start */
.nav-shadow {
    box-shadow: 2px 4px 8px 0 rgba(0, 0, 0, 0.12);
}

.logo {
    width: 100%;
    height: 57px;
}

.navbar-light .navbar-nav .nav-link {
    color: #000;
    font-family: 'Helvetica';
    padding: 0.5em 1em;
}

.navbar-brand.cmpnylogo-lg {
    padding: 0 1em;
}

.navbar-brand.cmpnylogo-md {
    display: none;
}

.navbar-light .navbar-toggler {
    border: none;
}

.navbar-toggler:focus {
    box-shadow: none;
}

/* header end */

/* home slider start */
.home-slider {
    padding-top: 73px;
}

.slide-list {
    position: relative;
    width: 100%;
    height: 100vh;
}

.slider-caption {
    position: absolute;
    font-weight: 600;
    width: 100%;
    max-width: 77%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
}

.home-slider-img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

.home-slider-img.f-img {
    object-fit: contain;
}

.slick-dots {
    position: absolute;
    bottom: -25px;
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
}

.slick-dots li {
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer;
}

.control-c {
    font-weight: 800;
    font-size: 44px;
    padding: 10px 11px;
    top: 50%;
}

.slick-prev {
    left: 1.5rem;
    z-index: 1;
}

.slick-next {
    right: 1.5rem;
    left: unset;
}

.slider-btn {
    color: #000;
}

.dev-icons {
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    width: 3rem;
    height: 3rem;
    line-height: 3rem;
    background-color: #F8F9FA;
}

/* home slider end */

/* dev company start */
.dev_company-section {
    padding-top: 104px;
    padding-bottom: 20px;
}

.section-heading {
    margin-bottom: 48px;
}

.dev-cmpy-card {
    box-shadow: 0 0.125rem 0.25rem #00000052;
    border: 1px solid rgba(0, 0, 0, 0.125);
    width: 100%;
    height: 146px;
    max-width: 525px;
    margin-bottom: 16px;
}

.dev-text {
    max-width: 392px;
    margin-bottom: 0;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

/* dev company start */

/* trusted parnter start */
.trusted_partner-section {
    padding-top: 32px;
    padding-bottom: 56px;
}

.partner-logo {
    object-fit: cover;
    max-width: 112px;
    width: 100%;
}

/* parnter end */

/* happy client start */
.hpy_client-section {
    padding: 32px 0;
}

/* happy client end */

/* we help start */
.we_help-section {
    padding-top: 32px;
}

.hpy-client-card {
    box-shadow: 0 0.125rem 0.25rem #00000052;
    border: 1px solid rgba(0, 0, 0, 0.125);
    font-style: italic;
}

/* .hpy-client-card .card-title {
    font-weight: 700;
} */

.hpy-client-card .card-text {
    font-size: 14px;
    max-width: 839px;
}

.hpy-client-card .muted-footer {
    font-size: 17.5px;
    /* font-weight: 700; */
    opacity: 0.8;
}

.quoto-icon {
    width: 48px;
    height: 48px;
    background-color: #685563;
}

.quoto-icon i {
    font-size: 20px;
    color: #fff;
}

.hpy-client-card.client-col .quoto-icon {
    width: 147px;
}

/* we help start */

/* service start */
.service-img {
    width: 100%;
    max-width: 350px;
    height: 250px;
    transition: transform 0.3s ease-in-out;
}

.show-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    background: rgba(0, 0, 0, 0.7);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

/* Show content on hover */
.service-img:hover .show-content {
    opacity: 1;
}

/* service end */

/* footer start */
.footer-section {
    padding-top: 53px;
    padding-bottom: 40px;
}

.cutry-img {
    width: 16px;
    height: 16px;
    margin-right: 0.2em;
}

.cmpy-content {
    max-width: 400px;
    margin-left: 13px;
}

.link-title {
    font-weight: 700;
    font-size: 23px;
}

.f-link i {
    margin-right: 12px;
}

.footer-links {
    width: 263px;
}

.copyright-section {
    background-color: #30353b;
}

.copyright-text {
    color: #ffffffb3;
    margin-right: 67px;
    margin-left: 62px;
}

.social-icon i {
    color: #808080;
    font-size: 24px;
}

.link-title,
.f-link,
.f-link:hover,
.cutry-title,
.c-add,
.q-link,
.q-link:hover {
    color: #808080;
}

.quick-links {
    margin-top: 43px;
}

.q-link {
    font-size: 19px;
}

.cutry-add:first-child {
    margin-bottom: 52px;
}

/* footer end */

/* responsive */
@media screen and (max-width:991px) {
    .navbar-brand.cmpnylogo-md {
        display: block;
    }

    .navbar-brand.cmpnylogo-lg {
        display: none;
    }
}

@media screen and (max-width:768px) {

    .nav-right {
        width: 80%;
    }

    .nav-menus {
        width: auto;
    }

    .footer-content {
        flex-direction: column;
    }

    .cmpnylogo-md .logo {
        height: 34px;
    }

    .cmpy-content {
        max-width: 100%;
        margin-left: 0;
    }

    .cutry-add:last-child {
        margin-bottom: 52px;
    }
}

@media screen and (max-width:425px) {

    .q-list,
    .copyright-section .cr-link {
        flex-direction: column;
    }

    .copyright-text {
        margin: 0;
    }
}